body{
  /* background-image: url(https://intalent.pro/sites/default/files/styles/medium/public/logo/high_school/mirea_logo_1-2.png?itok=piRciWzs); */
}
.university{
  display: flex;
  justify-content: center;
  font: 400% serif;
}
